body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.transparent {
  background: rgba(0,0,0,0);
  border: none;
}



/* Main Jumbotron Styles */

#main-jumbo {
  background: url(img/background-img.jpg) no-repeat center;
  min-height: 350px;
  overflow: hidden;
}



/* Navbar Styles */

.navbar {
  background: rgba(0,0,0,0) !important;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

/* Searchbar Styles */

.input-wrapper {
  position: relative;
  max-width: 60%;
  margin: 50px auto;
}

.input-highlight {
  font-size: 30px;
  line-height: 70px;
  border-top: 3px solid gray;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  font-family: Roboto Slab, sans-serif;
  overflow: hidden;
}


#main-search-input {
  margin-top: 10%;
  height: 40px;
  width: 100%;
  min-width: 60%;
  padding: 0;
  border-radius: 0;
  line-height: 70px;
  background-color: transparent;
  color: white;
  font-size: 30px;
  border: none;
  outline: none;
  border-bottom: 3px solid white;
  font-family: Roboto Slab, sans-serif;
}

#main-search-input::placeholder {
  color: darkgray;
}


#main-search-input:focus + .input-highlight {
  border-top: 3px solid #26354C;
}

/* Image gallery Styles */
.gal-container {
  background: url('img/background-gal-img.jpg');
  min-width: 100%;
  padding: 0;
}

.row-container {
  min-width: 100%;
  background: rgba(105,131,158,0.9);
}

.img-gal {
  opacity: 1 !important;
}

.img-gal img {
  min-width: 100%;
  height: 350px;
  border-radius: 6px;
  position: relative;

}


.img-gal img {
  min-height: 100%;
}





